!!!
%html
%head
	%title NoteNote | Online Notebook Application
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
%link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin: "anonymous"}
	= csrf_meta_tags
%body
	%header
		.header_inner
			= link_to image_tag( 'logo.svg'), root_path, id: "logo"
			%nav
				- if user_signed_in?
					= link_to "New Note", new_note_path
					= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					= link_to "Log In", new_user_session_path
	%p.notice= notice
	%p.alert= alert

	= yield